<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <title>Davide Magrin</title>
    <meta charset="UTF-8">
    <meta name="description" content="Davide Magrin's personal page">
    <meta name="keywords" content="PhD,Publications,Blog">
    <meta name="author" content="Davide Magrin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- Header -->

    <h3>Davide Magrin</h3>
    <ul>
      <li>
        PhD student at the University of Padova
      </li>
      <li>
        Simulation and mathematical modeling for the design and performance
        evaluation of LoRaWAN, LTE and 802.11ax networks.
      </li>
    </ul>

    <hr/>

    <!-- Projects -->

    <h4>Projects</h4>
    <ul>
      {{#projects}}
        <li>
          <a href="{{permalink}}">{{title}}</a>
        </li>
      {{/projects}}
    </ul>

    <hr/>

    <!-- Publications -->

    <h4>Publications</h4>
    <ul>
      {{#publications}}
        <li>
          {{authors}},
          <br>
          "<i>{{title}},</i>"
          <br>
          {{#link}}<a href={{link}}>{{/link}}{{howpublished}}{{#link}}</a>{{/link}}{{#place}}, {{place}}{{/place}}.
          {{#doi}}
            <br>
            DOI: <a href="https://www.doi.org/{{doi}}">{{doi}}</a>.
          {{/doi}}
        </li>
      {{/publications}}
    </ul>

    <hr/>

    <!-- Contacts -->

    <h4>Contacts</h4>
    <ul>
      <li>Email: hello@magr.in</li>
      <li>Everywhere else: DvdMgr</li>
    </ul>

  </body>
</html>
