<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <title>Davide Magrin > Media</title>
    <meta charset="UTF-8">
    <meta name="description" content="Davide Magrin's media page">
    <meta name="keywords" content="media, music, film">
    <meta name="author" content="Davide Magrin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- Header -->

    <h3>Media</h3>
    <ul>
      <li>
        A list of music, film and books I like.
      </li>
      <li>
        I may earn a commission if you purchase some of the products listed
        below, at no additional cost for you.
      </li>
    </ul>

    <hr/>

    <!-- Books -->

    <h4>Books</h4>
    <ul>
      {{#books}}
        <li>
          <a href="{{link}}">{{title}} - {{author}}</a>
        </li>
      {{/books}}
    </ul>

    <hr/>

    <!-- Audio -->

    <h4>Audio</h4>
    <ul>
      {{#audio}}
        <li>
          <a href="{{link}}">{{author}} - {{title}}</a>
        </li>
      {{/audio}}
    </ul>

    <!-- Amazon OneLink -->
    <div id="amzn-assoc-ad-b4893a2e-9614-47f1-ab26-f973f7fb68f8"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=b4893a2e-9614-47f1-ab26-f973f7fb68f8"></script>
  </body>
</html>
