<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <title>Davide Magrin > Media</title>
    <meta charset="UTF-8">
    <meta name="description" content="Davide Magrin's media page">
    <meta name="keywords" content="media, music, film">
    <meta name="author" content="Davide Magrin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- Header -->

    <h3>Media</h3>
    <ul>
      <li>
        A list of music, film and books I like.
      </li>
    </ul>

    <hr/>

    <!-- Audio -->

    <h4>Audio</h4>
    <ul>
      {{#audio}}
      <li>
        <a href="{{link}}">{{author}} - {{title}}</a>
      </li>
      {{/audio}}
    </ul>

  </body>
</html>
